/*
CSS for R Markdown
Author: Ryan Raaum
Updated: 2021-11-17
*/

/*~~~~~~~~~*/
/* Global  */
/*~~~~~~~~~*/

h1.title {
  font-size: 1.55rem;
  font-weight: 400;
  text-align: center;
  margin-top: 10px;
}

h3.subtitle {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
}

h3.course {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
}

h4.author {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
}

h4.date {
  font-size: 1rem;
  font-weight: normal;
  text-align: center;
  margin-top: 0.5rem;
}

h1 {
  font-weight: bolder;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

pre {
  background-color: var(--bs-light);
}

.table {
  font-size: 0.9rem;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}

blockquote {
  border-left: solid 5px var(--bs-dark);
  font-size: 1.15rem;
}

.rrlogo {
  width: 60px;
  height: 60px;
  margin: 50px 0 0 0;
}

.tophr {
  border-top: 1px solid black;
  opacity: 1;
  padding: 0;
  margin: 20px 0 0 0;
}

